name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Clippy
      run: cargo clippy -- -D warnings
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Rust doc
      run: RUSTDOCFLAGS="--deny warnings" cargo doc
    - name: Cargo Readme
      run: |
        set -eux
        cargo install cargo-rdme

        members=(wiza pure-magic magic-embed magic-db pure-magic-rs)
        for member in ${members[@]}
        do
            echo "Cargo rdme check: $member"
            cargo rdme --check -w $member
        done